@import url("https://fonts.googleapis.com/css?family=Lato:400,708");

.container{
    display: flex;
    justify-content: center;
    width: 35em;
    background-image: none;
    border-radius: 10px;
    padding: 1em;
}

.images-and-sizes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Size {
    display: inline-block; 
    border: 4px solid black; 
    padding: 5px; 
     border-radius: 5px; 
    font-size: 24px; 
    gap: 50px;
}



